body {
    background-color: #7764d3;
    min-height: 200vh;
}

div.tab {
    width:50%;
    font-size: 200px;
    text-align:center;
    font-family: 'Cybrpnuk2';
    font-weight: bolder;
    color: white;
    position: absolute;
    margin: auto;
     left: 0;
	right: 0;
    display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  animation-name: likes;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}
div.intro {
   display: flex;
   flex-wrap: wrap;
}

div.introcol {
   width: 100%;
   font-weight: bold;
   font-size: 20px;
   color: yellow;
    text-align:center;
}
div.main {
   display: flex;
   flex-wrap: wrap;
}

div.headline {
   font-size: 300px;

}
div.two{
    all: initial;
    font-size: 48px;
    font-family: 'Farm to Market';
    font-weight: bolder;
    color: white;
position: absolute;
transform: translate(-3%,1%);
letter-spacing: -0.05em;
 word-spacing: 0.2em;
}

div.three{
position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 400px;
            height: 400px;
            transform: translate(-3%, 40%);
            text-align: center;

}

.btn{
	position: relative;
	display: block;
    font-size: 25px;
    font-family: 'ZoomlaGetelove-A014';
    font-weight: bolder;
    color: #b5ce5b;
	text-decoration: none;
	margin: 5px 0;
	border: none;
	padding: 20px 30px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
}
.btn::before{
	background: #d1207c;
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: all 0.6s ease;
}
.ben1::before{
	width: 0;
	height: 100%;
}

.btn:hover::before{
	width: 100%;
}

.btn2{
	position: relative;
	display: block;
    font-size: 25px;
    font-family: 'ZoomlaGetelove-A014';
    font-weight: bolder;
    color: #b5ce5b;
	text-decoration: none;
	margin: 5px 0;
	border: none;
	padding: 20px 30px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
}
.btn2::before{
	background: #027596;
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: all 0.6s ease;
}
.btn2:hover::before{
	width: 100%;
}


div.four {
               animation-name: likes;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-duration: 1s;
    width:50%;
   height: 290px;
    font-size: 200px;
    text-align:center;
    font-family: 'Cybrpnuk2';
    font-weight: bolder;
    color: white;
position:relative;
z-index:0;
   margin: auto;
bottom:0;
 top: 800px;
            left: 0;
            right: 0;
}

@font-face {
   font-family:'Cybrpnuk2';/*字体名称*/
   src: url('Cybrpnuk2.ttf') ;/*字体源文件*/
}
@font-face {
   font-family:'Farm to Market';/*字体名称*/
   src: url('Farm\ to\ Market\ Bold\ Demo.ttf') ;/*字体源文件*/
}

@font-face{font-family:'ZoomlaGetelove-A014';/*逐浪哥特真爱体*/
    src: url('https://code.z01.com/font/ZoomlaGetelove-A014.eot?#iefix'); /* IE9 */
    src: url('https://code.z01.com/font/ZoomlaGetelove-A014.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
    url('https://code.z01.com/font/ZoomlaGetelove-A014.woff') format("woff"), /* chrome、firefox */
    url('https://code.z01.com/font/ZoomlaGetelove-A014.ttf') format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url('https://code.z01.com/font/ZoomlaGetelove-A014.svg#ZoomlaGetelove-A014') format("svg"); /* iOS 4.1- */
    font-style: normal; font-weight: normal;}



@keyframes likes {
		 0%{
		      transform: scale(1);
		   }
		   25%{
		      transform: scale(0.9);
		   }
		   50%{
		      transform: scale(0.85);
		   }
		   75%{
		      transform: scale(0.9);
		   }
		   100%{
		      transform: scale(1);
		   }
	}


    @keyframes growWidth {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }

    .hover-effect {
      transform-origin: center; /* 设置变换的原点为中心 */
      animation: growWidth 2s forwards; /* 动画时间可以根据你的需求调整 */
    }
    