body {
   background-color: #7764d3;
}

.tab {
   width: 50%;
   font-size: 200px;
   text-align: center;
   font-family: 'Cybrpnuk2';
   font-weight: bolder;
   color: white;
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   animation: likes 5s infinite;
}

.bi-ll {
   color: pink; /* 文字变色 */
}

.two {
   all: initial;
   font-size: 48px;
   font-family: 'Farm to Market';
   font-weight: bolder;
   color: white;
   position: absolute;
   transform: translate(-3%,1%);
   letter-spacing: -0.05em;
   word-spacing: 0.2em;
}

.three {
   font-size: 40px;
   font-family: 'Farm to Market';
   font-weight: bolder;
   color: #b5ce5b;
   letter-spacing: -0.05em;
   word-spacing: 0.2em;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 400px;
   height: 400px;
   transform: translate(-3%, 15%);
   text-align: center;
}

.obey {
   color: white; /* OBEY 不变色 */
}

.four {
   width: 50%;
   height: 290px;
   font-size: 200px;
   text-align: center;
   font-family: 'Cybrpnuk2';
   font-weight: bolder;
   color: white;
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: translate(0%,260%);
}

.left-obey, .right-buy-it {
   position: absolute;
   top: 0;
   bottom: 0;
   font-size: 60px; /* 调整字体大小 */
   color: white;
}

.left-obey {
   left: 20px; /* 调整左边距 */
   animation: scroll-left 5s linear infinite;
}

.right-buy-it {
   right: 20px; /* 调整右边距 */
   animation: scroll-right 5s linear infinite;
}

@font-face {
  font-family:'Cybrpnuk2';
  src: url('Cybrpnuk2.ttf');
}

@font-face {
  font-family:'Farm to Market';
  src: url('Farm to Market Bold Demo.ttf');
}

@keyframes likes {
   0% {
       transform: scale(1);
   }
   25% {
       transform: scale(0.9);
   }
   50% {
       transform: scale(0.85);
   }
   75% {
       transform: scale(0.9);
   }
   100% {
       transform: scale(1);
   }
}

@keyframes scroll-left {
   0% {
       transform: translateX(0);
   }
   100% {
       transform: translateX(-100%);
   }
}

@keyframes scroll-right {
   0% {
       transform: translateX(0);
   }
   100% {
       transform: translateX(100%);
   }
} 