body {
   background-color: #7764d3;
}

div.tab {
   width: 50%;
   font-size: 200px;
   text-align: center;
   font-family: 'Cybrpnuk2';
   font-weight: bolder;
   color: white;
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   animation: likes 1s infinite alternate;
}

div.two {
   all: initial;
   font-size: 48px;
   font-family: 'Farm to Market';
   font-weight: bolder;
   color: white;
   position: absolute;
   transform: translate(-3%, 1%);
   letter-spacing: -0.05em;
   word-spacing: 0.2em;
}

div.three {
   font-size: 40px;
   font-family: 'Farm to Market';
   font-weight: bolder;
   color: #b5ce5b;
   letter-spacing: -0.05em;
   word-spacing: 0.2em;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 400px;
   height: 400px;
   transform: translate(-3%, 15%);
   text-align: center;
}

div.four {
   width: 50%;
   height: 290px;
   font-size: 200px;
   text-align: center;
   font-family: 'Cybrpnuk2';
   font-weight: bolder;
   color: white;
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: translate(0%, 260%);
}

@font-face {
   font-family: 'Cybrpnuk2';
   src: url('Cybrpnuk2.ttf');
}
@font-face {
   font-family: 'Farm to Market';
   src: url('Farm to Market Bold Demo.ttf');
}

@keyframes likes {
   0%, 100% {
       color: white;
   }
   25%, 75% {
       color: pink;
   }
   50% {
       color: yellow;
   }
}

@keyframes zoom {
   0% {
       transform: scale(1);
   }
   50% {
       transform: scale(1.2);
   }
   100% {
       transform: scale(1);
   }
}

div.three p:nth-child(5) {
   animation: zoom 5s infinite;
}
